

.navbar{
    background-color: seagreen;
}
img{
    margin-left: 25px;
}
h1{
    text-align: center;

}
h3{
    text-align: center;
    font-style: italic;
}
.jumbotron img{
    border: 2px solid #fff;
    border-radius: 3px;
    padding: 7px;

}

.jumbotron p{
    text-align: justify;
    color: #000;
}
.collapse p{
    text-align: justify;
    color: #000;
}
h6{
    text-align: center;
    color: black;
}